<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    {% block head %}
        <link rel="stylesheet" href="/css/app.css" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.meta_description }}" />
    {% endblock head %}
</head>

<body>
{% block topNav %}
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
                <a href="#">One</a>
                <ul class="menu vertical">
                    <li><a href="#">One</a></li>
                    <li><a href="#">Two</a></li>
                    <li><a href="#">Three</a></li>
                </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</div>
{% endblock topNav %}
{% block mainBody %}
    <div class="row introduction">
        {{ page.introduction }}
    </div>

    <div class="row">
        <div class="large-2 columns"><p>Some navigation or something</p></div>
        <div class="large-8 columns">{{ page.main_content|raw }}</div>
        <div class="large-2 columns"><p> Some links maybe?</p></div>
    </div>

{% endblock mainBody %}

